<div class="socials">
    <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
    </a>
</div>
<p>&copy; 2023 MovieRec. All rights reserved. Made with ❤️ and dedication by John Adebayo.</p>