<nav>
    <a href="/" class="logo">MovieRec</a>
    <div class="nav-links hidden">
        <a href="/" class="active">Home</a>
        <a href="/trending/">Trending</a>
        <a href="/genres">Genres</a>
        <a href="/about">About</a>
        <a href="/about#contact">Contact</a>
    </div>
    <div class="nav-btns">
        <button type="button" class="theme-toggle" id="theme-toggle" aria-label="Toggle Theme">
            <!-- &#9788; -->
        </button>
        <button type="button" class="menu-toggle" id="menu-toggle" aria-label="Toggle navigation">
            ☰
        </button>
    </div>
</nav>

<!-- 
Favourites = &#9825;
Sun = &#9788;
Moon = &#9789;

-->