<nav>
    <a href="/" class="logo">MovieRec</a>
    <div class="nav-links hidden">
        <a href="/" class="nav-link active">Home</a>
        <a href="/trending/" class="nav-link ">Trending</a>
        <a href="/genres/" class="nav-link ">Genres</a>
        <!-- <a href="/about" class="nav-link ">About</a>
        <a href="/about#contact" class="nav-link ">Contact</a> -->
    </div>
    <div class="nav-btns">
        <button type="button" class="theme-toggle" id="theme-toggle" aria-label="Toggle Theme">
            <!-- &#9788; -->
        </button>
        <button type="button" class="menu-toggle" id="menu-toggle" aria-label="Toggle navigation">
            ☰
        </button>
    </div>
</nav>

<!-- 
Favourites = &#9825;
Sun = &#9788;
Moon = &#9789;

-->